{% extends "layout.html" %}

{% block body %}

  <span id="cautious-coyote-name">Vera Lo</span>
  <br/>
  <img id="cautious-coyote-headshot" src="https://i.pinimg.com/736x/2e/33/b0/2e33b000750dd4ce998fc156e68231ad--draw-pokemon-pokemon-craft.jpg" height="120" alt="cautious-coyote"/>
  <br/>
  
  <span id="beautiful-anteater-name">Emily Muhs</span>
  <br/>
  <img id="beautiful-anteater-headshot" src="http://animals.sandiegozoo.org/sites/default/files/inline-images/emu_face.jpg" height="120" alt="beautiful-anteater"/>
  <br/>
  
  <span id="outstanding-mouse-name">Michael Rooney</span>
  <br/>
  <img id="outstanding-mouse-headshot" src="http://vignette2.wikia.nocookie.net/disney/images/f/f2/The-Emperors-New-Groove-59bff3fa.jpg/revision/latest?cb=20120822010835" height="120" alt="outstanding-mouse"/>
  <br/>
  
  <span id="shy-wolverine-name">Rituraj Shukla</span>
    <br/>
  <img id="shy-wolverine-headshot" src="https://vignette.wikia.nocookie.net/p__/images/e/e7/Batman_lego_batman_movie.png/revision/latest?cb=20170201081503&path-prefix=protagonist" height="120" alt="shy-wolverine"/>
  <br/>
{% endblock %}