{% extends "layout.html" %}

{% block head %}
  <!-- Google Analytics Content Experiment code -->
  <script>function utmx_section(){}function utmx(){}(function(){var
  k='165337969-0',d=document,l=d.location,c=d.cookie;
  if(l.search.indexOf('utm_expid='+k)>0)return;
  function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
  indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
  length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
  '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
  '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
  '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
  valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
  '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
  </script><script>utmx('url','A/B');</script>
  <!-- End of Google Analytics Content Experiment code -->
{% endblock %}

{% block body %}
  <h1 id="title">
    {{event.title}}
  </h1>
  
  {% if RSVPerrors %}
    <ul class="form-errors">
        {% for error in RSVPerrors %}
            <li>{{error}}</li>
        {% endfor %}
    </ul>
  {% endif %}
  
  <img src="{{event.imageurl}}" id="image"><br>
  
  <div class="event-details">
    
  <table id="event-details">
  <tr>
  <td class="left">
      <span id="location"><b>Location: </b> {{event.location}}</span> <br>
  </td>
  <td class="right">
    <label id="rsvp" ><b>RSVP</b> <i>(enter email)</i>:</label> 
  </td>
  </tr>
  
  <tr>
  <td class="left">    
      <span id="date"><b> Date: </b></b>{{event.date}}</span>
  </td>
  <td class="right">
    <form method="POST">
      <input type="email" name="email" id="email"></input>
      <input type="hidden" name="eventid" value="{{event.id}}"></input>
      <button type="submit" name="submit">Submit</button>
    </form>
  </td>
  </tr>
  
  <tr>
  <td class="left">
    <span class="date"><b>Time: </b> {{event.time}}</span>
  </td>
  <td class="right"></td>
  </tr>
  
  </table>

  </div>
  <div>
  Want to contribute? <a href="/donate" id="donate">{{donation}}</a> now!
  </div>
  <div id="attendeeslist">
  <hr/>
    
  <span id="attendeesheading"><b>Attendees: {{attendees.length}} <br> </b></span>
  
  <ul id="attendees">
   {% for i in range(0, attendees.length) -%}
  <li class="list-group-item">{{attendees[i].emailid}}</li>
  {%- endfor %}
  </ul>
  
  </div>
{% endblock %}