{% extends "layout.html" %}

{% block body %}
    <h1 id="title">
        Create a new event!
    </h1>
    
    {% if errors %}
    <ul class="form-errors">
        {% for error in errors %}
            <li>{{error}}</li>
        {% endfor %}
    </ul>
    {% endif %}
    
    <form method="POST">
        <div class="form-group">
            <label for="title">Title</label>
            <input name="title" type="text"/>
        </div>
        
        <div class="form-group">
            <label for="location">Location</label>
            <input name="location" type="text"/>
        </div>
        
        <div class="form-group">
            <label for="image">Image</label>
            <input name="image" type="text"/>
        </div>
        
        {% for key, values in possibleDateData %}
            <div class="form-group">
                <label for="{{key}}">{{key | title}}</label>
                <select name="{{key}}">
                    {% for value in values %}
                        <option>
                            {{value}}
                        </option>
                    {% endfor %}
                </select>
            </div>
        {% endfor %}
        
        <input type="submit" value="Submit"/>
    </form>
{% endblock %}
