ul.hlist li
{
    display: inline;
    margin-left: 20px;
}
div#footer
{
    max-width: 600px;
    text-align: center;
    margin: auto;
    margin-left: -35px;
    
}

body
{ 
    max-width: 600px;
    margin: auto; 
    text-align: center;
}
a:link {
    text-decoration: none;
    color: 000;
}
img#logo
{
    margin: auto;
    width: 150px;
    display: block;
    
}
div#title
{
margin-top: 0px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

ul#events li
{
text-align:left;
padding-bottom: 10px;
font-size:15px;
    
}
img#image
{
    width: 500px;
}

div.event-details
{
 text-align: left;
 padding-left: 50px;
 padding-top: 20px;
}

h1 {
    font-size: 22px;
}
span.date
{
    font-size: 15px;
}
a#title
{
    font-size: 22px;
}
span#headermessage
{
    font-size: 28px;
}
label#rsvp
{
    font-size:15px;
}

span#attendeesheading
{
    font-size: 22px;
}

div#attendeelist
{
    padding-top: 50px;
    width:600px;
}

ul#attendees
{
 width:600px;
 padding: 0;
}

ul#attendees li
{
    border: none;
    text-align: center;
    height: 35px;
    font-size:15px;
}

table#event-details td.right
{
    padding-left: 95px;
}